* {
	margin: 0px;
	padding: 0px;
	font-family: "unbounded";
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-image: url("assets/background.png");
	background-size: 100% 100vh;
	background-repeat: no-repeat;
}
main {
	display: flex;
	flex-direction: column;

	align-items: center;
	width: 30%;
	min-height: 40vh;
	border: solid #000000 4px;
	border-radius: 12px;
	background: linear-gradient(#95e8e0 0%, #dfb27b 50%, #af72c9 100%);
	position: relative;
	box-shadow: #000000 13px 13px;
}
.h1 {
	margin: 20px;
	color: white;
}
.input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

input {
	padding: 10px 25px;
	border-radius: 6px;
	border: black solid 1px;
}

input::placeholder {
	color: rgba(128, 128, 128, 0.349);
	font-size: 10px;
}

input:focus {
	border: solid black solid 6px;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 25px;
	color: white;
}

.bg-effect {
	position: absolute;
	opacity: 0.15;
	width: 100%;
	z-index: 1;
	height: 40vh;
}
.content {
	position: absolute;
	z-index: 2;
}
h1 {
	margin: 25px;
}
